[user]
	email = ryanchhong@gmail.com
	name = Ryan Chhong
[alias]
	tree = log --all --decorate --oneline --graph
	compact = !git reflog expire --expire=0 --all && git repack -ad && git prune && git gc
[color]
	ui = true
[push]
	default = simple
[core]
    excludesfile = ~/.gitignore_global
